.h1{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.h2{
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
}

.p{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}


.slider-container {
 background: transparent;
 border-radius: 10px;
 padding: 2rem;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 margin-bottom: 3rem;
  }
        
.slider-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 1.5rem;
}
        
.selected-day {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
        
.slider-wrapper {
  position: relative;
  margin: 2rem 0;
}
        
.slider-track {
  height: 8px;
  background-color: transparent;
  position: relative;
}
        
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: white;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.slider::-webkit-slider-thumb {
 -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--secondary-color);
  cursor: pointer;
  border: 3px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
        
.slider::-moz-range-thumb {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: var(--secondary-color);
            cursor: pointer;
            border: 3px solid white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
        
.day-markers {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
        
.day-marker {
  text-align: center;
  font-size: 0.9rem;
  color: var(--dark-color);
  width: 14.28%;
}
        
.day-marker.active {
            font-weight: bold;
            color: var(--secondary-color);
        }
.background{
  background-color:#248BCC;
}
.subtitle {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}